*{
  overflow: hidden;
  padding: 0px;
  margin: 0px;
}
.headerMenu{
  display: grid;
  grid-template: repeat(2,8vh) / repeat(3, 1fr);
  align-items: center;
  justify-content: center;
}

.Barriots{
  grid-area: 1 / 1 / 2 / 4;
  font-size: 4rem;
  font-weight: 700;
  
}

.selection{
  justify-self: center;
  font-size: 2rem;
}

.selection:hover{
  cursor:pointer;
}

.body {
  font-size: 5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: beige;
  background-image: url('./restaurant.jpg');
  background-repeat: no-repeat;
  background-position: center;
  height: 74vh;
}

.footer {
  height: 8vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}